/* Aplica Inter a toda la app */
* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, hsl(216, 100%, 80%), rgba(204, 224, 255, 0.50));
}

/* HEADER */
.app-header {
  height: 56px;
  background: linear-gradient(to bottom, #1E3A8A, rgba(30, 59, 138, 0.8));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.header-left {
  display: flex;
  align-items: center;
}

.app-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* DERECHA */
.header-right {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #3B82F6;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.9;
}

/* CONTENIDO */
.app-content {
  flex: 1;
  padding: 0px;
}